
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: 2px solid green; */
}

.logo {
  margin: 85px 0px 38px 80px;
  /* border: 2px solid red; */
}
.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 46px;
  margin: 85px 80px 38px 80px;
  /* border: 2px solid red; */
}

.navbar > a {
  text-decoration: none;
  color: #000;
}

.menu-btn {
  background-color: #75bf7a;
  border: none;
  width: 182px;
  height: 50px;
  padding: 15px;
  color: #ffffff;
  border-radius: 5.95px;
}

.hero {
  display: flex;
}

.text {
  /* border: 2px solid red; */
  width: 50%;
  height: 582.81px;
  background-color: #f9f9f9;
}

.save-money{
  font-weight: 800px;
  font-size: 55px;
  line-height: 65.91px;
  margin: 163px 103px 0px 80px;
  color: #000;
/* border: 2px solid red; */
}

.car-para {
  color: #9e9da2;
  font-weight: 300px;
  font-size: 24px;
  line-height: 28px;
  width: 550px;
  height: 120px;
  margin: 27px 103px 0px 80px;
  /* border: 2px solid red; */
}
.car {
  /* border: 2px solid red; */
  width: 50%;
  height: 80vh;
  background-color: #f9f9f9;
}

.btns {
  display: flex;
  gap: 30px;
  
}

.download-btn{
margin-left: 80px;
  background-color: #000;
  width: 260px;
  height: 67px;
  font-weight: 800;
  font-size: large;
  color: #ffffff;
  border-radius: 8px ;
}
.android{
  margin-left: 80px;
margin-top: 8px;
  background-color: #000;
  width: 260px;
  height: 67px;
  font-weight: 800;
  font-size: large;
  color: #ffffff;
  border-radius: 8px ;
}

.apple{
margin-top: 8px;
  background-color: #000;
  width: 260px;
  height: 67px;
  font-weight: 800;
  font-size: large;
  color: #ffffff;
  border-radius: 8px ;
}

i {
  font-weight: 800;
  font-size: xx-large;
}

.ractangle > img {
  width: 1280px;
  height: 166px;
  margin: 86px 80px 0px 80px;
}

.ractangle {
  position: relative;
  /* border: 2px solid red; */
}

.inp {
  display: flex;
  position: absolute;
  top: 145px;
  left: 152px;
  justify-content: space-between;
}

.inp > p {
  width: 246;
  height: 56;
  color: #ffffff;
  margin-right: 122px;
  position: relative;
  font-weight: 600px;
  font-size: 24.6px;
  line-height: 28px;
}

.inp > input {
  width: 499px;
  height: 67px;
  padding: 30px;
  border: none;
  border-radius: 5px;
  margin-right: 11px;
}

.apply-btn {
  width: 260px;
  height: 67px;
  font-weight: 800px;
  font-size: 22px;
  background-color: #000;
  margin-left: 11px;
  margin-right: 122px;
  color: #ffffff;
  border-radius: 8px;
}

.tree-work{
  text-align: center;
  margin-top: 128px;
}

.tree{
  color:#75bf7a
}

.install{
  margin-top: 25px;
  margin-left: 550px;
  font-weight: 500px;
  size: 26px;
  line-height: 26px;
  width: 410px;
  height: 96px;
  text-align: center;
}

.request{
  margin-top: 99px;
}

.request>img{
  margin-left: 419px;
}

.number1{
  width: 60.82px;
  height: 60.82px;
}

.ride-request{
  font-weight: 800px;
  font-size: 22px;
  margin-left: 314px;
}

.reach{
  margin-left: 190px;
  font-weight: 500px;
  font-size: 20px;
  width: 290px;
  height: 91px;
  color:#9e9da2
}